.content-wrapper {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    overflow: hidden;
}


.color-legend-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.color-legend-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
}

.color-legend {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.color-legend-item {
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.color-box {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 3px;
}

.color-box.critical {
    background-color: red;
}

.color-box.high {
    background-color: orange;
}

.color-box.moderate {
    background-color: gold;
}


.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}
.navbar-nav .nav-item .nav-link {
    padding: 0.5rem 1rem;
}
.navbar-nav .nav-item .nav-text {
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 10px;
}


.small-box.bg-info, 
.small-box.bg-danger, 
.small-box.bg-success, 
.small-box.bg-secondary {
  background-color: white !important;
  color: #007aff !important;
}


.small-box-footer {
  color: #373a43 !important;
}

.small-box-footer:hover {
  color: #333333 !important;
}


.brand-link {
    text-decoration: none !important;
    cursor: default;
    pointer-events: none;
  }
  
  .brand-link:hover {
    text-decoration: none !important;
  }
  
  .brand-text {
    text-decoration: none !important;
  }
